:root{
    --color-primary: #292929;
    --color-secondary: #8B8BA5;
    --color-white : #FFFFFF;
    --color-yellow : #FFF623;
    --color-orange : #ffa010;
}

/* COMPONENT */
.btn-primary{
    color: black;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: .5rem 3rem;
    cursor: pointer;
    background: linear-gradient(to right, var(--color-yellow), var(--color-orange));
}
.heading{
    text-align: center;
    padding: 20px 0;
}
.heading .sub-title{
    color: var(--color-secondary);
    font-weight: 300;
    font-size: 1.2rem;
}
.heading .main-title{
    font-weight: 600;
    font-size: 1.8rem;
}


/* CONTAINER */
.hero, 
#about,
#menu-recommendation,
#location{
    padding: 20px 10%;
}

/* HEADER */
#header{
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7) ), url('../images/home/landing.jpg') center / cover no-repeat;
}
/* NAVBAR */
nav{
    position: fixed;
}

/* HERO */
.hero{
    align-self: center;
    color: white;
}
.hero .title{
    font-size: 4rem;
    line-height: 1;
}
.hero .text{
    font-size : 2rem;
    font-weight: 300;
}
.hero .btn-primary{
    margin-top: 0.5rem;
}

/* ABOUT */
#about{
    padding: 40px inherit;
}
.about-content{
    display: flex;
}
.about-content img{
    width: 22em;
    border-radius: 5px 5px 80px 5px;
}
.about-content .text{
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 18em;
    font-size: 16px;
    line-height: 1.6;
    color: #222222;
    padding: 2rem 3rem;
    text-align: justify;
}

/* MENU RECOMMENDATION */
.menu-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 20%;
    padding: 50px 0;
    text-align: center;
}
.card .image{
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
}
.card .image img{
    box-shadow: -10px -10px 0 0 #fff82352;
}
.card .name{
    font-size: 1.2rem;
}
.card .description{
    color: var(--color-secondary);
    font-weight: lighter;
}
.card .review{
    font-size: 20px;
}

/* LOCATION */
#location{
    background-color: var(--color-primary);
    padding-bottom: 50px;
}
#location .heading .sub-title{
    color: var(--color-secondary);
    font-weight: 300;
    font-size: 1.2rem;
}
#location .heading .main-title{
    color: var(--color-white);
}
.location-content{
    display: flex;
}
.location-content .text{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    color: white;
}
.location-content .text .main-text{
    font-size: 2.4rem;
    font-weight: 500;
}
.location-content .text p{
    font-size: 1.4rem;
    font-weight: normal;
}
.location-content .text div{
    margin-top: 0.8rem;
}
.location-content .image{
    flex: 1;
    border: 8px solid white;
}
.location-content .btn-primary{
    margin-top: 0.5rem;
}

/* TABLET */
@media screen and (max-width: 969px) {
    .btn-primary{
        font-size: 2rem;
        padding: 1rem 5rem;
        border-radius: 5px;
    }
    .heading .sub-title{
        font-size: 1.5rem;
    }
    .heading .main-title{
        font-size: 2rem;
    }
    .hero, 
    #about,
    #menu-recommendation,
    #location,
    #footer{
        padding: 20px 5%;
    }
    #header{
        height: 100vh;  
        min-height: 100vh;
        display: block;
    }
    
    .hero{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero .title{
        font-size: 6rem;
    }
    .hero .text{
        font-size: 3rem;    
    }
    .about-content{
        flex-direction: column;
        align-items: center;
    }
    .about-content .text{
        font-size: 1.55rem;
        line-height: 1.8rem;
        max-height: 10.45em;
    }
    .about-content img{
        width: 50vw;
        border-radius: 5px 5px 80px 5px;
    }
    .menu-content{
        justify-content: space-evenly;
    }
    .card{
        width: 40%;
        padding: 20px 0;
        text-align: center;
    }
    .card .name{
        font-size: 1.5rem;
    }
    .card .description{
        font-size: 1.2rem;
    }
    .location-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .location-content .image{
        width: 70%;
    }
    .location-content .text{
        text-align: center;
        padding: 20px 0 40px 0;
    }
}

@media screen and (max-width: 480px) {
    .btn-primary{
        font-size: 1.5rem;
        padding: 0.5rem 3rem;
        border-radius: 5px;
    }
    nav{
        justify-content: space-between;
    }
    .hero{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero .title{
        font-size: 4rem;
    }
    .hero .text{
        font-size: 2rem;    
    }

    .about-content img{
        width: 80%;
    }
    .about-content .text{
        font-size: 1rem;
        line-height: 20px;
        padding: 1rem 2rem;
        max-height: 12em;
    }

    .card{
        width: 80%;
    }

    .location-content .image{
        width: 90%;
    }

    .footer-content{
        flex-direction: column;
    }
}

